body {
    background-color: #121212;
    font-family: 'Open Sans', sans-serif;
}

#navigation {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.6rem;
    height: 100%;
    width: 30%;
    overflow: hidden;
}

#navigation h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 2rem;
}

#navigation li {
    text-indent: -1em;
    margin: 0.5em;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #A3B5A3;
}

a:hover {
    text-decoration: none;
    color: #CED7CE;
}